div.ui.vertical.accordion.menu {
  width: 90px;
  border-top: none;
  box-shadow: none;
  border-bottom: none;
  border-radius: 0px;
  margin: 0px 1rem;
}

.content {
  position: absolute;
  top: 40px;
  left: 0px;
  padding: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), -1px -1px 15px rgba(0, 0, 0, 0.3);
}

.ui.menu .ui.list>.item {
  padding: 1rem 1rem;
}

