<div class="ui grid">
  <div class="twelve wide column info-title">Shopping</div>
  <div class="four wide column">
    <div id="temp" class="ui vertical accordion menu">
      <div class="item">
        <a id="sortBy" class="title" (click)='openDropdown()'>
          <i class="user icon"></i>
          <i class="dropdown icon"></i>
        </a>
        <div id="sortBy-content" class="content">
          <div class="ui list">
            <div class="item">Placeholder</div>
            <div class="item">Placeholder</div>
            <div class="item">Placeholder</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="two wide column">
    <a>Bundles</a>
  </div>
  <div class="two wide column">
    <a>Offers</a>
  </div>
</div>
