<div class="ui secondary menu" *ngIf="currentWindowWidth > 960">
  <a class="item" routerLink="home">{{ title }}</a>
  <a class="item" routerLink="mens">Men</a>
  <a class="item" routerLink="womens">Women</a>
  <a class="item" routerLink="kids">Kids</a>
  <a class="item" routerLink="home">Home & Living</a>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search">
        <i class="search link icon"></i>
      </div>
      <app-drop-down></app-drop-down>
      <div class="ui icon">
        <i class="shopping cart icon"></i>
      </div>
    </div>
  </div>
</div>

<div class="mini-menu" *ngIf="currentWindowWidth < 960">
  <div class="row">
    <div class="hamburger-icon-btn" (click)="openMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="title">
      <a class="item" routerLink="home">{{ title }}</a>
    </div>
  </div>
  <div id="backdrop" class="backdrop" (click)="closeMenu()"></div>
  <div id="side-nav" class="side-nav">
    <a routerLink="mens" (click)="closeMenu()">Men</a>
    <a routerLink="womens" (click)="closeMenu()">Women</a>
    <a routerLink="kids" (click)="closeMenu()">Kids</a>
    <a routerLink="home" (click)="closeMenu()">Home & Living</a>
  </div>
</div>
